@import "tailwindcss";

@theme {
  --color-cta: #0b8376;
  --color-text: #14232a;
  --color-bg: #f6f3ee;
}

body {
  font-family: var(--font-lora), serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-gilda-display), serif;
}
